<div class="page-header">
  <h1>
    Openers
    <a href="/openers/new" class="btn btn-lg btn-success">New Opener</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Styles</th>
        <th>Title</th>
        <th>Line</th>
        <th>Actions</th>
      </tr>

      <% @openers.each do |opener| %>
      <tr>
        <td><%= opener.styles.title %></td>
        <td><%= opener.title %></td>
        <td><%= opener.line %></td>
        <td>
          <a href="/openers/<%= opener.id %>" class="btn btn-primary">Show</a>
          <a href="/openers/<%= opener.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_opener/<%= opener.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
