<div class="page-header">
  <h3>Opener #<%= @opener.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Styles</dt>
      <dd><%= @opener.styles_id %></dd>

      <dt>Title</dt>
      <dd><%= @opener.title %></dd>

      <dt>Line</dt>
      <dd><%= @opener.line %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/openers" class="btn btn-primary">
        Back
      </a>
      <a href="/openers/<%= @opener.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_opener/<%= @opener.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
