<div class="page-header">
  <h3>Style #<%= @style.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @style.title %></dd>

      <dt>Description</dt>
      <dd><%= @style.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/styles" class="btn btn-primary">
        Back
      </a>
      <!--<a href="/styles/<%#= @style.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_style/<%#= @style.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>-->
    </div>
  </div>
</div>

<!-- A Style has many venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venues
      </li>

      <% @style.venues.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_venue" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for style_id -->
      <input type="hidden" name="style_id" value="<%= @style.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for website -->
      <div class="form-group">
        <label for="website" class="control-label">
          Website
        </label>

        <input type="text" id="website" name="website" placeholder="Website" class="form-control" value="">
      </div>

      <!-- Label and input for photo -->
<!--      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control">
      </div>-->

      <button class="btn btn-block btn-success">
        Create Venue
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Style has many openers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Openers
      </li>

      <% @style.openers.each do |opener| %>
        <li class="list-group-item">
          <a href="/openers/<%= opener.id %>">
            <%= opener.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/openers/<%= opener.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/openers/<%= opener.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_opener/<%= opener.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_opener" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for styles_id -->
      <div class="form-group">
        <label for="styles_id" class="control-label">
          Styles
        </label>

        <%= select_tag(:styles_id, options_from_collection_for_select(Style.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for line -->
      <div class="form-group">
        <label for="line" class="control-label">
          Line
        </label>

        <input type="text" id="line" name="line" placeholder="Line" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Opener
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
