<div class="page-header">
  <h1>
    Approaches
<!--    <a href="/approaches/new" class="btn btn-lg btn-success">New Approach</a>-->
  </h1>

<hr>

  <h3>New approach location:</h3>
    <div class="btn-group btn-group-justified">
      <a href="/approaches/new_bar" class="btn btn-lg btn-success">
        Bar
      </a>
      <a href="/approaches/new_club" class="btn btn-lg btn-success">
        Nightclub/Shows
      </a>
      <a href="/approaches/new_retail" class="btn btn-lg btn-success" rel="nofollow">
        Mall/Store/Cafe
      </a>
      <a href="/approaches/new_street" class="btn btn-lg btn-success" rel="nofollow">
        Street
      </a>
    </div>


<hr>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Your game stats:</h2>
    <p>
    - Number of approaches: 
      <% count = [] %>
        <% @approaches.each do |approach| %>
          <% if approach.user_id == current_user.id %>
            <% count.push(1) %>
          <% end %>
        <% end %>
      <b><%= count.count %></b>
    </p>
    
    <p>
      - Number of successes: 
      <% count2 = [] %>
        <% @approaches.each do |approach| %>
          <% if approach.user_id == current_user.id %>
            <% if approach.successful == true %>
              <% count2.push(1) %>
            <% end %>
          <% end %>
        <% end %>
      <b><%= count2.count %></b>
    </p>
    
    <p>
      = Success ratio: 
      <b><%= number_to_percentage(count2.count.to_d / count.count.to_d * 100, precision: 2) %>
      </b>
    </p>
  </div>
 
  <div class="container">
    <h2 class="display-4">Keep it up!</h2>
      <p class="lead">It's only <b><%= Time.now.utc.in_time_zone("Central Time (US & Canada)").strftime("%H:%M") %></b> of <%= Date.today.to_formatted_s(:long_ordinal) %>, there is still time to go out!
      </p>
  </div>

</div>

  
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "approaches_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
      <%= f.label :style_title_cont, "Style title contains" %>
      <%= f.text_field :style_title_cont, :class => "form-control", :placeholder => "Style title contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/approaches" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#approaches_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Venue</th>
        <th>Opener</th>
        <th>When</th>
        <th>Successful?</th>
        <th>Actions</th>
      </tr>

      <% @approaches.each do |approach| %>
      <tr>
        <td>
          <% if approach.user.present? %>
            <a href="/users/<%= approach.user.id %>">
              <%= approach.user.username %>
            </a>
          <% end %>
        </td>
        <td>
          <% if approach.venue.present? %>
            <a href="/venues/<%= approach.venue.id %>">
              <%= approach.venue.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if approach.opener.present? %>
            <a href="/openers/<%= approach.opener.id %>">
              <%= approach.opener.title %>
            </a>
          <% end %>
        </td>
        <td>
          <% if approach.opener.present? %>
              <%= approach.created_at.to_date %>
          <% end %>
        </td>
        
        <td>
          <% if approach.opener.present? %>
              <% if approach.successful==true %> Yes!
                <%else%> Nope.
              <%end%>
          <% end %>
        </td>
        
        <td>
          <a href="/approaches/<%= approach.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == approach.user %>
            <a href="/approaches/<%= approach.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_approach/<%= approach.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @approaches, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
