<div class="page-header">
  <h1>
    Approaches
    <a href="/approaches/new" class="btn btn-lg btn-success">New Approach</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Venue</th>
        <th>Opener</th>
        <th>Actions</th>
      </tr>

      <% @approaches.each do |approach| %>
      <tr>
        <td><%= approach.user.email %></td>
        <td><%= approach.venue.style_id %></td>
        <td><%= approach.opener_id %></td>
        <td>
          <a href="/approaches/<%= approach.id %>" class="btn btn-primary">Show</a>
          <a href="/approaches/<%= approach.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_approach/<%= approach.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
